PORT=

NODE_ENV=

MONGO_URI=ngodb.net/?appName=Cluster0

SALT_ROUND=12

ACCESS_TOKEN_SECRET=byuvn ovubn smi
ACCESS_TOKEN_EXPIRES_IN=6h

MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_USER=,
MAIL_PASSWORD=,
MAIL_FROM=











